@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900; /* Variable font range */
  src: url('/fonts/Geist.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900; /* Variable font range */
  src: url('/fonts/GeistMono.woff2') format('woff2');
}
